{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block css %}
.about{
    display: flex;
    justify-content: center;
    <!-- align-items: center; -->
    height: 90vh;
    margin:20px 20px;
    flex-direction:column;
}
{% endblock %}
{% block body %}

<div class="about">
<h1>
    About Us:
</h1>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi autem et magnam tenetur ipsa, modi cupiditate consequuntur labore recusandae temporibus quaerat repudiandae praesentium fuga rerum? Repellendus culpa maiores aliquid quibusdam, nobis aut laboriosam modi consectetur obcaecati, aspernatur iure quam, aperiam perferendis quae debitis natus enim dolorum amet? Excepturi, quia qui?
</p>
<h4>Thank You!</h4>
</div>

{% endblock %}